samples/applications/CCTApp/config/xsd/datasource.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<xsd:element name="datasource">
	<xsd:complexType>
		<xsd:sequence minOccurs="1" maxOccurs="1">
			<xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
			</xsd:element>
			<xsd:element name="username"
				type="xsd:string" minOccurs="1" maxOccurs="1">
			</xsd:element>
			<xsd:element name="password"
				type="xsd:string" minOccurs="1" maxOccurs="1">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:element>

</xsd:schema>