system/web/config/config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Config">
		<xs:annotation>
			<xs:documentation>This is the holder for the frameworks configurations.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element maxOccurs="1" minOccurs="1" ref="Settings"/>
				<xs:element maxOccurs="1" minOccurs="0" ref="YourSettings"/>
				<xs:element maxOccurs="1" minOccurs="0" ref="DebuggerSettings"/>
				<xs:element maxOccurs="1" minOccurs="0" ref="MailServerSettings"/>
				<xs:element maxOccurs="1" minOccurs="0" ref="BugTracerReports"/>
				<xs:element maxOccurs="1" minOccurs="0" ref="WebServices"/>
				<xs:element maxOccurs="1" minOccurs="1" ref="Layouts"/>
				<xs:element maxOccurs="1" minOccurs="0" ref="i18N" />
				<xs:element maxOccurs="1" minOccurs="0" ref="Datasources"/>
				<xs:element maxOccurs="1" minOccurs="0" ref="Cache"/>
				<xs:element maxOccurs="1" minOccurs="0" ref="CacheBox"/>
				<xs:element maxOccurs="1" minOccurs="0" ref="Interceptors"/>
				<xs:element maxOccurs="1" minOccurs="0" ref="Conventions"/>
				<xs:element maxOccurs="1" minOccurs="0" ref="LogBox"/>
				<xs:element maxOccurs="1" minOccurs="0" ref="IOC"/>
				<xs:element maxOccurs="1" minOccurs="0" ref="Models"/>
				<xs:element maxOccurs="1" minOccurs="0" ref="Modules"/>
				<xs:element maxOccurs="1" minOccurs="0" ref="WireBox"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Settings">
		<xs:annotation>
			<xs:documentation>These are global framework settings. All of them need to be defined in order for the framework to start.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="Setting">
					<xs:complexType>
						<xs:attribute name="name" use="required">
							<xs:annotation>
								<xs:documentation>The name of the framework&apos;s settings.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="AppMapping"/>
									<xs:enumeration value="AppName"/>	
									<xs:enumeration value="ApplicationStartHandler" />
									<xs:enumeration value="ApplicationEndHandler" />
									<xs:enumeration value="CustomErrorTemplate" />
									<xs:enumeration value="ConfigAutoReload" />
									<xs:enumeration value="ColdBoxExtensionsLocation" />
									<xs:enumeration value="DebugMode"/>		
									<xs:enumeration value="DebugPassword"/>
									<xs:enumeration value="DefaultEvent"/>	
									<xs:enumeration value="EventName"/>
									<xs:enumeration value="ExceptionHandler" />
									<xs:enumeration value="EventCaching" />
									<xs:enumeration value="FlashURLPersistScope"/>
									<xs:enumeration value="HandlersIndexAutoReload" />
									<xs:enumeration value="HandlersExternalLocation" />
									<xs:enumeration value="HandlerCaching" />
									<xs:enumeration value="LayoutsExternalLocation" />	
									<xs:enumeration value="MissingTemplateHandler"/>
									<xs:enumeration value="ModulesExternalLocation"/>
									<xs:enumeration value="PluginsExternalLocation" />
									<xs:enumeration value="onInvalidEvent"/>	
									<xs:enumeration value="ProxyReturnCollection" />
									<xs:enumeration value="RequestEndHandler"/>
									<xs:enumeration value="RequestStartHandler"/>
									<xs:enumeration value="RequestContextDecorator" />
									<xs:enumeration value="ReinitPassword"/>
									<xs:enumeration value="SessionStartHandler"/>
									<xs:enumeration value="SessionEndHandler"/>						
									<xs:enumeration value="UDFLibraryFile"/>		
									<xs:enumeration value="ViewsExternalLocation" />												
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="value" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation>The value of the setting.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="YourSettings">
		<xs:annotation>
			<xs:documentation>These are your own application settings.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="Setting">
					<xs:annotation><xs:documentation>A custom setting for your application. The value can be simple or complex using JSON notation.</xs:documentation></xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string" >
								<xs:attribute name="name" use="required" type="xs:string">
									<xs:annotation><xs:documentation>The name of the setting</xs:documentation></xs:annotation>
								</xs:attribute>
								<xs:attribute name="value" use="optional" type="xs:string" default="">
									<xs:annotation><xs:documentation>The value of the setting. If not used, use the content of the element as the value.</xs:documentation></xs:annotation>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="MailServerSettings">
		<xs:annotation>
			<xs:documentation>These are global mail settings</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="1" minOccurs="0" name="MailServer">
					<xs:annotation>
						<xs:documentation>The ip or address of the mail server to declare</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="0" name="MailPort" default="25">
					<xs:annotation>
						<xs:documentation>The port of the mail server. Default is 25</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="0" name="MailUsername">
					<xs:annotation>
						<xs:documentation>The username of the mail server, if used.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="0" name="MailPassword" >
					<xs:annotation>
						<xs:documentation>The password of the mail server, if used.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="BugTracerReports">
		<xs:annotation>
			<xs:documentation>This sections is used to declare the bug tracing reports configuration.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="1" minOccurs="0" name="MailFrom" >
					<xs:annotation>
						<xs:documentation>The from email address to send from.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="0" name="CustomEmailBugReport" >
					<xs:annotation>
						<xs:documentation>The location of the custom bug report to use.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="BugEmail">
					<xs:annotation>
						<xs:documentation>The email address to send reports.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
			<xs:attribute default="false" name="enabled" type="xs:boolean" use="optional">
				<xs:annotation>
					<xs:documentation>Use to turn on bugtracer reports.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	
	
	
	<xs:element name="WebServices">
		<xs:annotation>
			<xs:documentation>Useful declarations of all web services used in the application.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="0" ref="WebService"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="WebService">
		<xs:annotation>
			<xs:documentation>A webservice declaration.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="URL" type="xs:anyURI" use="required">
				<xs:annotation>
					<xs:documentation>The WSDL URL for this web service.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="name" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>The web service reference name. This is the name the framework uses to retrieve the WSDL.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Layouts">
		<xs:annotation>
			<xs:documentation>Template layout definitions.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DefaultLayout" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="DefaultView"   minOccurs="0" maxOccurs="1"/>
				<xs:element maxOccurs="unbounded" minOccurs="0" ref="Layout"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DefaultLayout">
		<xs:annotation>
			<xs:documentation>The mandatory default layout to use.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DefaultView">
		<xs:annotation>
			<xs:documentation>The optional default view to use if no view is set.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Layout">
		<xs:annotation>
			<xs:documentation>A layout declaration to be used for the children views declared.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element maxOccurs="unbounded" minOccurs="0" ref="View"/>
				<xs:element maxOccurs="unbounded" minOccurs="0" ref="Folder"/>				
			</xs:choice>
			<xs:attribute name="file" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>The filename of the layout template.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="name" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>A reference name to the layout.</xs:documentation>
				</xs:annotation>
			</xs:attribute>			
		</xs:complexType>
	</xs:element>
	<xs:element name="View">
		<xs:annotation>
			<xs:documentation>The name of the view that will use the parent layout. This is the same name of the file without .cfm</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Folder">
		<xs:annotation>
			<xs:documentation>The name of the folder that will use the parent layout.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="i18N">
		<xs:annotation>
			<xs:documentation>Internationalization Section.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element maxOccurs="1" minOccurs="0" name="DefaultResourceBundle" type="xs:string" default="">
					<xs:annotation>
						<xs:documentation>The path to the resource bundle to load.</xs:documentation>
					</xs:annotation>
				</xs:element>				
				<xs:element maxOccurs="1" minOccurs="0" name="DefaultLocale" type="xs:string">
					<xs:annotation>
						<xs:documentation>The default locale in the standard Java locale names</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="0" name="LocaleStorage">
					<xs:annotation>
						<xs:documentation>The storage scope of the locale setting. Preferred is session.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="client"/>
							<xs:enumeration value="session"/>
							<xs:enumeration value="cookie"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="0" name="UnknownTranslation" type="xs:string" default="">
					<xs:annotation>
						<xs:documentation>The key to use when a translation is not found. default is _UNKNOWNTRANSLATION_</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="Datasources">
		<xs:annotation>
			<xs:documentation>Useful declarations of all the datasources used by this application.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="0" ref="Datasource"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="Datasource">
		<xs:annotation>
			<xs:documentation>A datasource declaration.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="alias" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>The alias of the registered datasource, for use in your application.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="name" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>The name of the registered datasource.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="username" type="xs:string" use="optional" default="">
				<xs:annotation>
					<xs:documentation>The username of the datasource.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="password" type="xs:string" use="optional" default="">
				<xs:annotation>
					<xs:documentation>The password of the datasource.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="dbtype" type="xs:string" use="optional" default="">
				<xs:annotation>
					<xs:documentation>The type of database this datasource connects to.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="Cache">
		<xs:annotation>
			<xs:documentation>These are the application caching settings. It overrides the framework-wide settings.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element maxOccurs="1" minOccurs="0" name="ObjectDefaultTimeout" type="xs:integer" default="60">
					<xs:annotation>
						<xs:documentation>The default object timeout in minutes</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="0" name="ObjectDefaultLastAccessTimeout" type="xs:integer" default="15">
					<xs:annotation>
						<xs:documentation>The default object last access timeout in minutes</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="0" name="ReapFrequency" type="xs:integer" default="1">
					<xs:annotation>
						<xs:documentation>The frequency in which the cache is reaped.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="0" name="MaxObjects" type="xs:integer" default="100">
					<xs:annotation>
						<xs:documentation>The maximum number of objects to cache.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="0" name="FreeMemoryPercentageThreshold" type="xs:integer" default="0">
					<xs:annotation>
						<xs:documentation>The amount of free memory threshold needed to cache. If memory goes below this threshold, objects will no longer be cached.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="0" name="UseLastAccessTimeouts" type="xs:boolean" default="true">
					<xs:annotation>
						<xs:documentation>Whether to reap using last access timeouts alongside default object timeouts</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="0" name="EvictionPolicy" default="LFU">
					<xs:annotation>
						<xs:documentation>The eviction policy to use in the caching engine</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="LFU"/>
							<xs:enumeration value="LRU"/>
							<xs:enumeration value="FIFO"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="0" name="EvictCount" type="xs:integer" default="1">
					<xs:annotation>
						<xs:documentation>The evict count to use when evicting objects, the default is 1.</xs:documentation>
					</xs:annotation>
				</xs:element>
				
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Interceptors">
		<xs:annotation><xs:documentation>These are the coldbox interceptor declarations</xs:documentation></xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="1" minOccurs="0" name="CustomInterceptionPoints" type="xs:string" default="">
					<xs:annotation>
						<xs:documentation>A comma delimmited list of custom interception points to declare an use.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" maxOccurs="unbounded" name="Interceptor">
					<xs:annotation>
						<xs:documentation>An interceptor declaration.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="Property">
								<xs:annotation><xs:documentation>A property of the interceptor, can be simple or complex via ColdBox complex properties</xs:documentation></xs:annotation>
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string" >
											<xs:attribute name="name" use="required" type="xs:string">
												<xs:annotation><xs:documentation>The name of the property</xs:documentation></xs:annotation>
											</xs:attribute>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="class" use="required" type="xs:string">
							<xs:annotation>
								<xs:documentation>The instantiation class of the interceptor.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="name" use="optional" type="xs:string">
							<xs:annotation>
								<xs:documentation>The unique name to use for this interceptor. If not set, we will use the interceptor's cfc name.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="throwOnInvalidStates" type="xs:boolean" use="optional" default="true">
				<xs:annotation>
					<xs:documentation>Flag that determines if the interceptor service throws an error when an invalid state is announced.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="DebuggerSettings">
		<xs:annotation>
			<xs:documentation>These are the settings to configure the coldbox debugger</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element maxOccurs="1" minOccurs="0" name="EnableDumpVar" type="xs:boolean" default="false">
					<xs:annotation>
						<xs:documentation>Whether to activate the dumpVar URL action or not.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="0" name="PersistentRequestProfiler" type="xs:boolean" default="false">
					<xs:annotation>
						<xs:documentation>Whether to activate or not the request profile persisten storage</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="0" name="maxPersistentRequestProfilers" type="xs:integer">
					<xs:annotation>
						<xs:documentation>The maximum number of request profilers to keep in the stack.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="0" name="maxRCPanelQueryRows" type="xs:integer">
					<xs:annotation>
						<xs:documentation>The maximum number of records to dump on a query in the request collection panel.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="0" name="TracerPanel">
					<xs:annotation>
						<xs:documentation>The tracer panel info</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="show" type="xs:boolean" use="optional" default="true">
							<xs:annotation>
								<xs:documentation>Whether to show or not this panel</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="expanded" type="xs:boolean" use="optional" default="true">
							<xs:annotation>
								<xs:documentation>Whether this panel is expanded or not.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="0" name="InfoPanel">
					<xs:annotation>
						<xs:documentation>The info panel info</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="show" type="xs:boolean" use="optional" default="true">
							<xs:annotation>
								<xs:documentation>Whether to show or not this panel</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="expanded" type="xs:boolean" use="optional" default="true">
							<xs:annotation>
								<xs:documentation>Whether this panel is expanded or not.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>	
				<xs:element maxOccurs="1" minOccurs="0" name="CachePanel">
					<xs:annotation>
						<xs:documentation>The cache panel info</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="show" type="xs:boolean" use="optional" default="true">
							<xs:annotation>
								<xs:documentation>Whether to show or not this panel</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="expanded" type="xs:boolean" use="optional" default="false">
							<xs:annotation>
								<xs:documentation>Whether this panel is expanded or not.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="0" name="RCPanel">
					<xs:annotation>
						<xs:documentation>The request collection panel info</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="show" type="xs:boolean" use="optional" default="true">
							<xs:annotation>
								<xs:documentation>Whether to show or not this panel</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="expanded" type="xs:boolean" use="optional" default="false">
							<xs:annotation>
								<xs:documentation>Whether this panel is expanded or not.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="0" name="ModulesPanel">
					<xs:annotation>
						<xs:documentation>The modules panel info</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="show" type="xs:boolean" use="optional" default="true">
							<xs:annotation>
								<xs:documentation>Whether to show or not this panel</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="expanded" type="xs:boolean" use="optional" default="false">
							<xs:annotation>
								<xs:documentation>Whether this panel is expanded or not.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>	
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Conventions">
		<xs:annotation>
			<xs:documentation>These are the custom conventions you can place for your current application.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element maxOccurs="1" minOccurs="0" name="handlersLocation" type="xs:string">
					<xs:annotation>
						<xs:documentation>The default location of your handlers</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="0" name="pluginsLocation" type="xs:string">
					<xs:annotation>
						<xs:documentation>The default location of your plugins</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="0" name="layoutsLocation" type="xs:string">
					<xs:annotation>
						<xs:documentation>The default location of your layouts.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="0" name="viewsLocation" type="xs:string">
					<xs:annotation>
						<xs:documentation>The default location of your views.</xs:documentation>
					</xs:annotation>
				</xs:element>	
				<xs:element maxOccurs="1" minOccurs="0" name="eventAction" type="xs:string">
					<xs:annotation>
						<xs:documentation>The default event action if not specified.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="0" name="modelsLocation" type="xs:string">
					<xs:annotation>
						<xs:documentation>The default location of your models.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="0" name="modulesLocation" type="xs:string">
					<xs:annotation>
						<xs:documentation>The default location of your coldbox modules.</xs:documentation>
					</xs:annotation>
				</xs:element>			
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="LogBox">
		<xs:annotation><xs:documentation>This is how you configure the ColdBox Logging Library: LogBox</xs:documentation></xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="1" name="ConfigFile" type="xs:string">
					<xs:annotation>
						<xs:documentation>The location of the external file location, if declared.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="1" maxOccurs="unbounded" name="Appender">
					<xs:annotation>
						<xs:documentation>An Appender declaration.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="Property">
								<xs:annotation><xs:documentation>A property of the appender, can be simple or complex via ColdBox complex properties</xs:documentation></xs:annotation>
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string" >
											<xs:attribute name="name" use="required" type="xs:string">
												<xs:annotation><xs:documentation>The name of the property</xs:documentation></xs:annotation>
											</xs:attribute>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="name" use="required" type="xs:ID">
							<xs:annotation>
								<xs:documentation>The name of the registered appender.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="class" use="required" type="xs:string">
							<xs:annotation>
								<xs:documentation>The instantiation class of the appender.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="layout" use="optional" type="xs:string" default="">
							<xs:annotation>
								<xs:documentation>A custom layout class to use with this appender.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="levelMin" use="optional">
							<xs:annotation>
								<xs:documentation>The minimum logging level for this root logger.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="OFF"/>
									<xs:enumeration value="FATAL"/>
									<xs:enumeration value="ERROR"/>
									<xs:enumeration value="WARN"/>
									<xs:enumeration value="INFO"/>
									<xs:enumeration value="DEBUG"/>
									<!-- Numeric -->
									<xs:enumeration value="-1"/>
									<xs:enumeration value="0"/>
									<xs:enumeration value="1"/>
									<xs:enumeration value="2"/>
									<xs:enumeration value="3"/>
									<xs:enumeration value="4"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="levelMax" use="optional">
							<xs:annotation>
								<xs:documentation>The maximum logging level for this root logger.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="OFF"/>
									<xs:enumeration value="FATAL"/>
									<xs:enumeration value="ERROR"/>
									<xs:enumeration value="WARN"/>
									<xs:enumeration value="INFO"/>
									<xs:enumeration value="DEBUG"/>
									<!-- Numeric -->
									<xs:enumeration value="-1"/>
									<xs:enumeration value="0"/>
									<xs:enumeration value="1"/>
									<xs:enumeration value="2"/>
									<xs:enumeration value="3"/>
									<xs:enumeration value="4"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="1" maxOccurs="1" name="Root">
					<xs:annotation>
						<xs:documentation>The root logger definition.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="Appender-ref">
								<xs:annotation><xs:documentation>An appender reference for the root logger</xs:documentation></xs:annotation>
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string" >
											<xs:attribute name="ref" use="required" type="xs:IDREF">
												<xs:annotation><xs:documentation>The appender reference name</xs:documentation></xs:annotation>
											</xs:attribute>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="levelMin" use="optional">
							<xs:annotation>
								<xs:documentation>The minimum logging level for this root logger.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="OFF"/>
									<xs:enumeration value="FATAL"/>
									<xs:enumeration value="ERROR"/>
									<xs:enumeration value="WARN"/>
									<xs:enumeration value="INFO"/>
									<xs:enumeration value="DEBUG"/>
									<!-- Numeric -->
									<xs:enumeration value="-1"/>
									<xs:enumeration value="0"/>
									<xs:enumeration value="1"/>
									<xs:enumeration value="2"/>
									<xs:enumeration value="3"/>
									<xs:enumeration value="4"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="levelMax" use="required">
							<xs:annotation>
								<xs:documentation>The maximum logging level for this root logger.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="OFF"/>
									<xs:enumeration value="FATAL"/>
									<xs:enumeration value="ERROR"/>
									<xs:enumeration value="WARN"/>
									<xs:enumeration value="INFO"/>
									<xs:enumeration value="DEBUG"/>
									<!-- Numeric -->
									<xs:enumeration value="-1"/>
									<xs:enumeration value="0"/>
									<xs:enumeration value="1"/>
									<xs:enumeration value="2"/>
									<xs:enumeration value="3"/>
									<xs:enumeration value="4"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="appenders" use="optional" type="xs:string">
							<xs:annotation>
								<xs:documentation>*=all appender or optional configuration of appenders, else use Appender-ref</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" maxOccurs="unbounded" name="Category">
					<xs:annotation>
						<xs:documentation>A category definition.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="Appender-ref">
								<xs:annotation><xs:documentation>An appender reference for thi category</xs:documentation></xs:annotation>
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string" >
											<xs:attribute name="ref" use="required" type="xs:IDREF">
												<xs:annotation><xs:documentation>The appender reference name</xs:documentation></xs:annotation>
											</xs:attribute>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="name" use="required" type="xs:string">
							<xs:annotation>
								<xs:documentation>The name of the category to configure.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="levelMin" use="optional">
							<xs:annotation>
								<xs:documentation>The minimum logging level for this root logger.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="OFF"/>
									<xs:enumeration value="FATAL"/>
									<xs:enumeration value="ERROR"/>
									<xs:enumeration value="WARN"/>
									<xs:enumeration value="INFO"/>
									<xs:enumeration value="DEBUG"/>
									<!-- Numeric -->
									<xs:enumeration value="-1"/>
									<xs:enumeration value="0"/>
									<xs:enumeration value="1"/>
									<xs:enumeration value="2"/>
									<xs:enumeration value="3"/>
									<xs:enumeration value="4"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="levelMax" use="optional">
							<xs:annotation>
								<xs:documentation>The maximum logging level for this root logger.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="OFF"/>
									<xs:enumeration value="FATAL"/>
									<xs:enumeration value="ERROR"/>
									<xs:enumeration value="WARN"/>
									<xs:enumeration value="INFO"/>
									<xs:enumeration value="DEBUG"/>
									<!-- Numeric -->
									<xs:enumeration value="-1"/>
									<xs:enumeration value="0"/>
									<xs:enumeration value="1"/>
									<xs:enumeration value="2"/>
									<xs:enumeration value="3"/>
									<xs:enumeration value="4"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="appenders" use="optional" type="xs:string">
							<xs:annotation>
								<xs:documentation>*=all appender or optional configuration of appenders, else use Appender-ref</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="WireBox">
		<xs:annotation><xs:documentation>This is how you configure the ColdBox WireBox DI-AOP</xs:documentation></xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="1" name="Enabled" type="xs:boolean" default="false">
					<xs:annotation>
						<xs:documentation>A compatibility flag until next major release that specifically uses WireBox instead of simple model integration.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" maxOccurs="1" name="Binder" type="xs:string">
					<xs:annotation>
						<xs:documentation>The location of the WireBox Binder to load</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" maxOccurs="1" name="SingletonReload" type="xs:boolean" default="false">
					<xs:annotation>
						<xs:documentation>Whether to reload the singleton scope on each request or not. Useful for development</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CacheBox" >
		<xs:annotation><xs:documentation>This is how you configure the ColdBox Caching Library: CacheBox</xs:documentation></xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="1" name="ConfigFile" type="xs:string">
					<xs:annotation>
						<xs:documentation>The location of the external file location, if declared.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" maxOccurs="1" name="LogBoxConfig" type="xs:string">
					<xs:annotation>
						<xs:documentation>The location of the logBox configuration file to use, if any</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" maxOccurs="1" name="ScopeRegistration">
					<xs:annotation>
						<xs:documentation>The scope registration for the CacheBox factory.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="enabled" type="xs:boolean" use="required">
							<xs:annotation>
								<xs:documentation>Enable scope registration or not. By default this setting is false</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="key" type="xs:string" use="optional" default="cachebox">
							<xs:annotation>
								<xs:documentation>The key to use in the scope registration. By default this setting defaults to 'cachebox'</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="scope" use="optional">
							<xs:annotation>
								<xs:documentation>The ColdFusion scope to register the factory in.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="server"/>
									<xs:enumeration value="application"/>
									<xs:enumeration value="cluster"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="1" maxOccurs="1" name="DefaultConfiguration">
					<xs:annotation>
						<xs:documentation>The mandatory default cache configuration options.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="objectDefaultTimeout" type="xs:integer" use="optional">
							<xs:annotation>
								<xs:documentation>The default object timeout in minutes</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="objectDefaultLastAccessTimeout" type="xs:integer" use="optional">
							<xs:annotation>
								<xs:documentation>The default idle object timeout in minutes</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="useLastAccessTimeouts" type="xs:boolean" use="optional" default="true">
							<xs:annotation>
								<xs:documentation>Activate idle timeout expirations</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="reapFrequency" type="xs:integer" use="optional">
							<xs:annotation>
								<xs:documentation>The frequency in minutes in which the cache engine will flush old elements out</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="freeMemoryPercentageThreshold" type="xs:integer" use="optional">
							<xs:annotation>
								<xs:documentation>The percentage of free memory needed for the cache engine to cache, else elements evicted util free memory is available. 0 = off</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="evictionPolicy" use="optional" type="xs:string" default="LRU">
							<xs:annotation>
								<xs:documentation>The eviction policy to use for evicting items from the cache. You can use the name of the policy in the coldbox.system.cache.policies directory or your own valid class path.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="evictCount" type="xs:integer" use="optional">
							<xs:annotation>
								<xs:documentation>The number of objects to evict from cache when the eviction policy runs. We default to 1, but you can get more aggressive</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="maxObjects" type="xs:integer" use="optional">
							<xs:annotation>
								<xs:documentation>The maximum number of objects the cache should hold until evictions start ocurring</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="objectStore" type="xs:string" use="optional">
							<xs:annotation>
								<xs:documentation>The object store this cache box engine should use found in the coldbox.system.cache.store or your own class path notation</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="coldboxEnabled" type="xs:boolean" use="optional">
							<xs:annotation>
								<xs:documentation>Enable ColdBox application caching</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element minOccurs="0" maxOccurs="unbounded" name="Cache">
					<xs:annotation>
						<xs:documentation>A cachebox provider configuration.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" maxOccurs="unbounded" name="Properties">
								<xs:annotation>
									<xs:documentation>All the cache custom properties.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="name" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation>The unique cacheprovider name</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="provider" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation>The full classpath of the cachebox provider object to use for this cache</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
	<xs:element name="IOC">
		<xs:annotation>
			<xs:documentation>These are the IOC settings for ColdBox.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element maxOccurs="1" minOccurs="0" name="Framework">
					<xs:annotation>
						<xs:documentation>The IOC frammework to declare. The text contents is the definition file.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="type" use="required" type="xs:string">
									<xs:annotation>
										<xs:documentation>The IOC framework type: coldspring or lightwire or your own custom class</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="objectCaching" use="optional" type="xs:boolean" default="false">
									<xs:annotation>
										<xs:documentation>The use object caching or not by the IOC plugin</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="reload" use="optional" type="xs:boolean" default="false">
									<xs:annotation>
										<xs:documentation>Reload the IOC framework on each request for development purposes</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="0" name="ParentFactory">
					<xs:annotation>
						<xs:documentation>The parent IOC frammework to add to the ioc framework. The text contents is the definition file.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="type" use="required" type="xs:string">
									<xs:annotation>
										<xs:documentation>The IOC framework type: coldspring or lightwire or your own custom class</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Models">
		<xs:annotation>
			<xs:documentation>These are the model integration settings for ColdBox.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element maxOccurs="1" minOccurs="0" name="ExternalLocation" type="xs:string" default="">
					<xs:annotation>
						<xs:documentation>The external locations for model objects (comma-delimitted).</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="0" name="ObjectCaching" type="xs:boolean" default="false">
					<xs:annotation>
						<xs:documentation>Activates persistence for model objects, use false in development mode only.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="0" name="DefinitionFile" type="xs:string" default="config/ModelMappings.cfm">
					<xs:annotation>
						<xs:documentation>The file containting the model integration mappings and defnitions.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="0" name="SetterInjection" type="xs:boolean" default="false">
					<xs:annotation>
						<xs:documentation>To activate setter injection on model objects or not</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="0" name="DICompleteUDF" type="xs:string" default="onDIComplete">
					<xs:annotation>
						<xs:documentation>The method name to use for post processing of a model object when created and configured</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="0" name="StopRecursion" type="xs:string" default="">
					<xs:annotation>
						<xs:documentation>The class paths (comma-delimmitted) that the coldbox bean factory will stop recursion on when searching for dependencies.</xs:documentation>
					</xs:annotation>
				</xs:element>				
				<xs:element maxOccurs="1" minOccurs="0" name="ParentFactory">
					<xs:annotation>
						<xs:documentation>The parent IOC frammework to add to the model integration features of ColdBox. The text contents is the definition file.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="type" use="required">
									<xs:annotation>
										<xs:documentation>The IOC framework type: coldspring or lightwire.</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="coldspring"/>
											<xs:enumeration value="lightwire"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Modules">
		<xs:annotation>
			<xs:documentation>These are the modules directives.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element maxOccurs="1" minOccurs="0" name="AutoReload" type="xs:boolean" default="false">
					<xs:annotation>
						<xs:documentation>Whether to auto reload the modules on each request, use true in development only.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="0" name="Include" type="xs:string" default="">
					<xs:annotation>
						<xs:documentation>A list of modules to include in the loading process. Empty means load all discovered modules.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="0" name="Exclude" type="xs:string" default="">
					<xs:annotation>
						<xs:documentation>A list of modules to exclude in the loading process. Empty means exclude nothing</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>