src/system/config/config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Config">
		<xs:annotation>
			<xs:documentation>This is the holder for the frameworks configurations.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="1" minOccurs="1" ref="Settings"/>
				<xs:element maxOccurs="1" minOccurs="0" ref="YourSettings"/>
				<xs:element maxOccurs="1" minOccurs="0" ref="MailServerSettings"/>
				<xs:element maxOccurs="1" minOccurs="0" ref="BugTracerReports"/>
				<xs:element maxOccurs="1" minOccurs="0" ref="DevEnvironments"/>
				<xs:element maxOccurs="1" minOccurs="0" ref="WebServices"/>
				<xs:element maxOccurs="1" minOccurs="1" ref="Layouts"/>
				<xs:element maxOccurs="1" minOccurs="0" ref="i18N" />
				<xs:element maxOccurs="1" minOccurs="0" ref="Datasources"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Settings">
		<xs:annotation>
			<xs:documentation>These are global framework settings. All of them need to be defined in order for the framework to start.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="Setting">
					<xs:complexType>
						<xs:attribute name="name" use="required">
							<xs:annotation>
								<xs:documentation>The name of the framework&apos;s settings.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="OwnerEmail"/>
									<xs:enumeration value="RequestEndHandler"/>
									<xs:enumeration value="RequestStartHandler"/>
									<xs:enumeration value="ApplicationStartHandler" />
									<xs:enumeration value="DefaultEvent"/>									
									<xs:enumeration value="ExceptionHandler" />
									<xs:enumeration value="CustomErrorTemplate" />
									<xs:enumeration value="EnableBugReports"/>
									<xs:enumeration value="EnableColdfusionLogging"/>
									<xs:enumeration value="EnableDumpVar"/>	
									<xs:enumeration value="EnableColdboxLogging"/>
									<xs:enumeration value="ColdboxLogsLocation" />								
									<xs:enumeration value="DebugMode"/>		
									<xs:enumeration value="DebugPassword"/>							
									<xs:enumeration value="AppMapping"/>
									<xs:enumeration value="AppName"/>				
									<xs:enumeration value="UDFLibraryFile"/>	
									<xs:enumeration value="MessageboxStyleClass" />
									<xs:enumeration value="HandlersIndexAutoReload" />
									<xs:enumeration value="ConfigAutoReload" />
									<xs:enumeration value="MyPluginsLocation" />
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="value" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation>The value of the setting.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="YourSettings">
		<xs:annotation>
			<xs:documentation>These are your own application settings.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="Setting">
					<xs:complexType>
						<xs:attribute name="name" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation>The name of Your setting.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="value" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation>The value of Your setting.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MailServerSettings">
		<xs:annotation>
			<xs:documentation>These are global mail settings</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="1" minOccurs="0" name="MailServer">
					<xs:annotation>
						<xs:documentation>The ip or address of the mail server to declare</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="0" name="MailUsername">
					<xs:annotation>
						<xs:documentation>The username of the mail server, if used.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="0" name="MailPassword" >
					<xs:annotation>
						<xs:documentation>The password of the mail server, if used.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BugTracerReports">
		<xs:annotation>
			<xs:documentation>This sections is used to declare email addresses for Bug Reports</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="0" ref="BugEmail"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BugEmail">
		<xs:annotation>
			<xs:documentation>The email address to send reports.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DevEnvironments">
		<xs:annotation>
			<xs:documentation>You can define one or more development urls that the framework will decide wether its on development or production mode.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="0" ref="url"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="url">
		<xs:annotation>
			<xs:documentation>The complete or partial url to check.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="WebServices">
		<xs:annotation>
			<xs:documentation>Useful declarations of all web services used in the application.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="0" ref="WebService"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="WebService">
		<xs:annotation>
			<xs:documentation>A webservice declaration.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute default="" name="DevURL" type="xs:anyURI" use="optional">
				<xs:annotation>
					<xs:documentation>The WSDL development URL if available.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="URL" type="xs:anyURI" use="required">
				<xs:annotation>
					<xs:documentation>The WSDL Production or Single URL.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="name" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>The web service reference name. This is the name the framework uses to retrieve the WSDL.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Layouts">
		<xs:annotation>
			<xs:documentation>Template layout definitions.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DefaultLayout"/>
				<xs:element maxOccurs="unbounded" minOccurs="0" ref="Layout"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DefaultLayout">
		<xs:annotation>
			<xs:documentation>The mandatory default layout to use.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Layout">
		<xs:annotation>
			<xs:documentation>A layout declaration to be used for the children views declared.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="0" ref="View"/>
			</xs:sequence>
			<xs:attribute name="file" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>The filename of the layout template.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="name" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>A reference name to the layout.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="View">
		<xs:annotation>
			<xs:documentation>The name of the view that will use the parent layout. This is the same name of the file without .cfm</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="i18N">
		<xs:annotation>
			<xs:documentation>Internationalization Section.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="1" minOccurs="0" name="DefaultResourceBundle">
					<xs:annotation>
						<xs:documentation>The path to the resource bundle to load.</xs:documentation>
					</xs:annotation>
				</xs:element>				
				<xs:element maxOccurs="1" minOccurs="1" name="DefaultLocale" >
					<xs:annotation>
						<xs:documentation>The default locale in the standard Java locale names</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="1" name="LocaleStorage">
					<xs:annotation>
						<xs:documentation>The storage scope of the locale setting. Preferred is session.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="client"/>
							<xs:enumeration value="session"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="Datasources">
		<xs:annotation>
			<xs:documentation>Useful declarations of all the datasources used by this application.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="0" ref="Datasource"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="Datasource">
		<xs:annotation>
			<xs:documentation>A datasource declaration.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>The name of the registered datasource.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="username" type="xs:string" use="optional" default="">
				<xs:annotation>
					<xs:documentation>The username of the datasource.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="password" type="xs:string" use="optional" default="">
				<xs:annotation>
					<xs:documentation>The password of the datasource.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="dbtype" type="xs:string" use="optional" default="">
				<xs:annotation>
					<xs:documentation>The type of database this datasource connects to.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
